/* stylelint-disable color-hex-length */

:root {
  --avatar-red-top: #ff885e;
  --avatar-red-bottom: #ff516a;
  --avatar-red-gradient: linear-gradient(180deg, #ff885e 0%, #ff516a 100%);
  --avatar-orange-top: #ffcd6a;
  --avatar-orange-bottom: #ffa85c;
  --avatar-orange-gradient: linear-gradient(
    180deg,
    #ffcd6a 0%,
    #ffa85c 100%
  );
  --avatar-purple-top: #82b1ff;
  --avatar-purple-bottom: #665fff;
  --avatar-purple-gradient: linear-gradient(
    180deg,
    #82b1ff 0%,
    #665fff 100%
  );
  --avatar-green-top: #a0de7e;
  --avatar-green-bottom: #54cb68;
  --avatar-green-gradient: linear-gradient(180deg, #a0de7e 0%, #54cb68 100%);
  --avatar-cyan-top: #53edd6;
  --avatar-cyan-bottom: #28c9b7;
  --avatar-cyan-gradient: linear-gradient(180deg, #53edd6 0%, #28c9b7 100%);
  --avatar-blue-top: #72d5fd;
  --avatar-blue-bottom: #2a9ef1;
  --avatar-blue-gradient: linear-gradient(180deg, #72d5fd 0%, #2a9ef1 100%);
  --avatar-pink-top: #e0a2f3;
  --avatar-pink-bottom: #d669ed;
  --avatar-pink-gradient: linear-gradient(180deg, #e0a2f3 0%, #d669ed 100%);
}

:root,
:where([data-color-scheme="light"]) {
  --accent-red: #ff383c;
  --accent-orange: #ff8d28;
  --accent-yellow: #ffcc00;
  --accent-green: #46dc66;
  --accent-mint: #00c8b3;
  --accent-teal: #00c3d0;
  --accent-cyan: #00c0e8;
  --accent-blue: #0088ff;
  --accent-indigo: #6155f5;
  --accent-purple: #cb30e0;
  --accent-pink: #ff2d55;
  --accent-brown: #ac7f5e;
  --background: #f5f5f5;
  --elevation: #ffffff;
  --primary: #111111;
  --elevation-90: #111111e6;
  --elevation-80: #111111cc;
  --elevation-70: #111111b3;
  --elevation-60: #11111199;
  --elevation-50: #11111180;
  --elevation-40: #11111166;
  --elevation-30: #1111114d;
  --elevation-20: #11111133;
  --elevation-10: #1111111a;
  --elevation-5: #1111110d;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-color-scheme="light"]) {
    --accent-red: #ff4245;
    --accent-orange: #ff9230;
    --accent-yellow: #ffd600;
    --accent-green: #46dc66;
    --accent-mint: #00dac3;
    --accent-teal: #00d2e0;
    --accent-cyan: #3cd3fe;
    --accent-blue: #0091ff;
    --accent-indigo: #6d7cff;
    --accent-purple: #db34f2;
    --accent-pink: #ff375f;
    --accent-brown: #b78a66;
    --background: #111111;
    --elevation: #ffffff0d;
    --primary: #ffffff;
    --elevation-90: #ffffffe6;
    --elevation-80: #ffffffcc;
    --elevation-70: #ffffffb3;
    --elevation-60: #ffffff99;
    --elevation-50: #ffffff80;
    --elevation-40: #ffffff66;
    --elevation-30: #ffffff4d;
    --elevation-20: #ffffff33;
    --elevation-10: #ffffff1a;
    --elevation-5: #ffffff0d;
  }
}

:root[data-color-scheme="dark"],
:where([data-color-scheme="dark"]) {
  --accent-red: #ff4245;
  --accent-orange: #ff9230;
  --accent-yellow: #ffd600;
  --accent-green: #46dc66;
  --accent-mint: #00dac3;
  --accent-teal: #00d2e0;
  --accent-cyan: #3cd3fe;
  --accent-blue: #0091ff;
  --accent-indigo: #6d7cff;
  --accent-purple: #db34f2;
  --accent-pink: #ff375f;
  --accent-brown: #b78a66;
  --background: #111111;
  --elevation: #ffffff0d;
  --primary: #ffffff;
  --elevation-90: #ffffffe6;
  --elevation-80: #ffffffcc;
  --elevation-70: #ffffffb3;
  --elevation-60: #ffffff99;
  --elevation-50: #ffffff80;
  --elevation-40: #ffffff66;
  --elevation-30: #ffffff4d;
  --elevation-20: #ffffff33;
  --elevation-10: #ffffff1a;
  --elevation-5: #ffffff0d;
}
