.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
    padding: var(--ui-space-4) var(--ui-space-8);
    border-radius: var(--ui-component-badge-radius);

    &[data-variant="title1"],
    &[data-variant="title2"],
    &[data-variant="title3"] {
        padding: var(--ui-space-6) var(--ui-space-12);
    }

    &[data-variant="footnote"] {
        border-radius: var(--ui-component-badge-footnote-radius);
    }

    // Варианты бейджей — только цвета
    &.filled {
        background-color: var(--badge-background, var(--tg-theme-button-color));
        color: var(--badge-text-color, var(--tg-theme-button-text-color));
    }

    &.tinted {
        background-color: rgb(from var(--badge-background) r g b / 10%);
        color: var(--badge-text-color, var(--tg-theme-accent-text-color));
    }

    &.gray {
        background-color: var(--tertiary-fill-background);
        color: var(--tg-theme-text-color);
    }

    &.media {
        background-color: var(--tg-theme-section-bg-color);
        color: var(--tg-theme-text-color);
    }

    &.outlined {
        background-color: transparent;
        color: var(--tg-theme-text-color);
        border: 0.5px solid var(--tg-theme-section-separator-color);
    }

    // Circled — переопределяет padding и border-radius
    &[data-circled="true"] {
        padding: var(--ui-space-4);
        border-radius: var(--ui-radius-full);

        &[data-variant="footnote"] {
            padding: var(--ui-space-4) 7px;
            border-radius: var(--ui-component-badge-circled-footnote-radius);
        }

        &[data-variant="subheadline1"],
        &[data-variant="subheadline2"],
        &[data-variant="body"] {
            padding: var(--ui-space-4) 7px;
            border-radius: var(--ui-component-badge-circled-text-radius);
        }

        &[data-variant="title1"],
        &[data-variant="title2"],
        &[data-variant="title3"] {
            padding: var(--ui-space-6) 7px;
            border-radius: var(--ui-component-badge-circled-text-radius);
        }
    }

    // Squared — переопределяет padding и border-radius
    &[data-squared="true"] {
        padding: var(--ui-space-4);
        border-radius: var(--ui-component-badge-radius);

        &[data-variant="footnote"] {
            border-radius: var(--ui-component-badge-footnote-radius);
        }

        &[data-variant="title1"],
        &[data-variant="title2"],
        &[data-variant="title3"] {
            padding: var(--ui-space-6) var(--ui-space-4);
        }
    }
}
