.root {
  display: flex;
  position: relative;
  align-items: flex-start;
  align-self: stretch;
  box-shadow: 0 -0.33px 0 0 var(--separator-non-opaque);
  padding-bottom: env(safe-area-inset-bottom);
}

:global(body.apple) .root {
  position: absolute;
  left: 21px;
  right: 21px;
  bottom: var(--bottom-clearance, 21px);
  border-radius: var(--ui-component-tab-bar-radius);
  padding: var(--ui-space-4);
  margin: 0;
  background: var(--tma-elevation);
  backdrop-filter: saturate(300%) blur(8px);
  box-shadow: 0 0 10px 0 var(--elevation-10);
}

@supports (-apple-visual-effect: -apple-system-glass-material) {
  :global(body.apple) .root {
    -apple-visual-effect: -apple-system-glass-material;
    backdrop-filter: none;
  }
}

:global(body.material) .root {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: var(--bottom-clearance, 16px);
  border-radius: var(--ui-component-tab-bar-radius);
  padding: var(--ui-space-4);
  width: calc(100% - 32px);
  background: var(--tma-elevation);
  backdrop-filter: blur(30px) saturate(10);
  box-shadow: 0 1px 2px 0 var(--elevation-10), 0 2px 16px 1px var(--elevation-10);
}

.root::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  background: var(--tma-fill-quaternary);
  z-index: 0;
}

:global(body.material) .root::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 1px 0 0 var(--tma-static-white), inset 0 -0.5px 0 0 var(--tma-static-white);
  mix-blend-mode: soft-light;
  z-index: 2;
}

.root .content {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 1;
}

.root .gradient {
  --mask-color: var(
      --page-background,
      var(--tg-theme-secondary-bg-color)
  );
  --mask-opacity-top: 0;
  --mask-opacity-bottom: 0.9;
  --overlay-padding-x: 21px;
  --overlay-padding-y: 21px;

  position: absolute;
  inset: 0;
  width: calc(100% + var(--overlay-padding-x) * 2);
  height: calc(64px + var(--overlay-padding-y) * 2);
  z-index: 0;
  margin: calc(var(--overlay-padding-y) * -1) calc(var(--overlay-padding-x) * -1);
}

.root .activeIndicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 2px 2px 0 0;
  z-index: 2;
}

:global(body.apple) .root .activeIndicator {
  background-color: var(--secondary-button-color);
  border-radius: var(--ui-component-tab-bar-radius);
  height: calc(100% - var(--ui-space-8));
  top: var(--ui-space-4);
  z-index: 1;
  margin-left: var(--ui-space-4);
  margin-right: var(--ui-space-4);
}

:global(body.material) .root .activeIndicator {
  background-color: var(--tg-theme-text-color);
}

.root .clipPathContainer {
  --active-color: var(--tma-action-primary-background);

  position: absolute;
  display: flex;
  background-color: var(--tertiary-fill-background);
  width: calc(100% - var(--ui-space-8));
  clip-path: inset(0 calc(75% - 5px) 0 0% round var(--ui-component-tab-bar-radius));
  will-change: clip-path;
  z-index: 10;
  overflow: hidden;
  transform: translateZ(0);
  isolation: isolate;
  backface-visibility: hidden;
}

.root .clipPathContainer span {
  color: var(--active-color) !important;
}

.root .clipPathContainer svg,
.root .clipPathContainer path,
.root .clipPathContainer :global(.wallet-lottie_fill-color) path {
  fill: var(--active-color) !important;
}

.root .clipPathContainer :global(.wallet-lottie_stroke-color) path {
  stroke: var(--active-color) !important;
}

.root .clipPathContainer [data-overlay] {
  opacity: 1 !important;
}
