.container {
    position: relative;
    display: inline-block;

    .selected {
        padding: var(--ui-space-12) 0;
        height: 100%;
    }

    .trigger {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.root {
    position: relative;
    width: 250px;
    overflow: hidden;

    .item {
        cursor: pointer;
        color: var(--tg-theme-text-color);
        position: relative;

        &:hover {
            background-color: var(--ui-fill-tertiary);
            border-radius: var(--ui-radius-full);
        }
    }

    :global(body.material) & {
        background-color: var(--tg-theme-section-bg-color);
        box-shadow: 0 0.33px 1px 0.5px
            color-mix(in srgb, var(--ui-static-black) 12%, transparent);
        border-radius: var(--ui-radius-8);

        .item {
            border-bottom: 0;
            padding: var(--ui-space-12) var(--ui-layout-content-inset);
        }
    }

    :global(body.apple) & {
        border-radius: var(--ui-component-dropdown-menu-radius);
        padding: var(--ui-layout-content-inset);
        background: var(--glass-tint-background);
        backdrop-filter: blur(8px);
        box-shadow: 0 0 10px 0
            color-mix(in srgb, var(--ui-static-black) 10%, transparent);

        @supports (-apple-visual-effect: -apple-system-glass-material) {
            -apple-visual-effect: -apple-system-glass-material;
            backdrop-filter: none;
        }

        .item {
            padding: var(--ui-component-dropdown-item-block-spacing)
                var(--ui-space-8);

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
