.glassBorder {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  mix-blend-mode: overlay;
  z-index: 2;
  pointer-events: none;
  mask: linear-gradient(var(--mini-app-static-black) 0, var(--mini-app-static-black) 0) content-box, linear-gradient(var(--mini-app-static-black) 0, var(--mini-app-static-black) 0);
  mask-composite: exclude;
  background: linear-gradient(8deg, transparent 0%, var(--elevation-90) 35%, var(--elevation-90) 65%, transparent 100%);
}

.glassBorder.muted {
  mix-blend-mode: normal;
  background: linear-gradient(8deg, transparent 0%, var(--elevation-20) 35%, var(--elevation-20) 65%, transparent 100%);
}
