.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--ui-space-12);
    text-align: center;
    color: var(--tg-theme-text-color);

    :global(body.apple) & {
        padding: var(--ui-component-start-view-block-spacing)
            var(--ui-component-start-view-inline-spacing);
    }

    :global(body.material) & {
        padding: var(--ui-component-start-view-block-spacing) var(--ui-space-24);
    }
}
