.button {
  display: flex;
  flex-direction: column;
  gap: var(--ui-space-2);
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
  padding: 7px 0 8px;
  border-radius: var(--ui-radius-12);
}

.button svg,
.button path {
  fill: currentcolor;
}

.button.filled {
  background-color: var(--tma-action-primary-background);
  color: var(--tma-action-primary-foreground);
}

.button.tinted {
  background-color: var(--secondary-button-color);
  color: var(--tma-text-primary);
}

.button.plain {
  background-color: var(--tg-theme-section-bg-color);
  color: var(--tma-text-primary);
}

.button.gray {
  background-color: var(--tertiary-fill-background);
  color: var(--tma-text-primary);
}

.button.disabled {
  background-color: var(--button-disabled-color);
  color: var(--tma-text-disabled);
}

.button.skeleton {
  --skeleton-inset-bottom: 0px;

  overflow: hidden;
  background-color: transparent;
  color: transparent;
  cursor: default;
}

.button.skeleton svg,
.button.skeleton path {
  visibility: hidden;
}

:global(body.apple) .button {
  gap: 0;
  padding: var(--ui-space-8) 0;
  border-radius: var(--ui-component-button-multiline-radius);
}

:global(body.apple) .button svg,
:global(body.apple) .button path {
  width: 28px;
  height: 28px;
}

:global(body.material) .button {
  gap: 1px;
  border-radius: var(--ui-component-button-multiline-radius);
}

:global(body.material) .button svg,
:global(body.material) .button path {
  width: 28px;
  height: 28px;
}
